.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vmin;
  width: 90%;
}
.formTitle{
  padding: 0 8px;
}
.formTitle h2 {
  font-size: 2rem;
}
.formTitle p{
  font-size: 1rem;
}
.formInput{
  background-color: #d9d9d9;
  padding: 1em 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align:center;
}
.formInput:focus{
  outline: none;
}
.formButtons{
  background-color: #F5754E;
  color: #f2f2f2;
  padding: 0.3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}
a {
  text-decoration: none;
  color: #1877F2
}
#google{
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
}
.smallThings{
  display: block;
}