.about{
  display: none;
}

#errorMessage{
  display: none;
  background-color: #d11124;
  padding: 8px 2px;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 90%;
}

.formLogin{
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  align-items: center;
}

.formTitle{
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  gap: 5vmin;
  margin-bottom: 3vmin;
}

.formTitle h2 {
  font-size: 1.8rem;
}

.formTitle p{
  font-size: 1rem;
}

.formInputs{
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  width: 100%;
}

.formInput{
  background-color: #d9d9d9;
  padding: 1em 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align:center;
}

.formInput:focus{
  outline: none;
}

.formButtons{
  background-color: #F5754E;
  color: #f2f2f2;
  padding: 0.3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}

.formButtons:hover {
  background-color: #fd6132;
}

a {
  text-decoration: none;
  color: #1877F2
}

hr{
  width: 80%;
  margin: 5px;  
}

.buttonGoogle{
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  gap: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.buttonGoogle:hover{
  background-color: #d9d9d9;
}

.imgGoogle{
  width: 5vmin;
}

.smallThings{
  display: block;
}

#fade, #modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  z-index: 10;
  width: 90%;
  border-radius: 0.5rem;
}

.logo-img{
  width: 50%;
}

.modal-header {
  display: flex;
  justify-content: center;  
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.modalText {
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 1.8rem;
}

#close-modal {
  width: 15rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}



.footer {
  display: none;
}

@media (min-width: 1024px) {
  .header{
    display: none;
  }
  
  .initialAbout{
    display: none;
  }
  
  .formContent{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
    "about formLogin";
    min-height: 100vh;
  }

  #logo{
    width: 48vmin;
  }

  .about{
    display: flex;
    flex-direction: column;
    grid-area: about;
    align-items: center;
  }

  .formTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8%;
    margin-bottom: 0px;
  }

  .formLogin{
    grid-area: formLogin;
    border: 1px;
    box-shadow: 3px 3px 6px rgba(87, 86, 86, 0.7);
    border-radius: 10px;
    padding: 1em;
    max-width: 85%;
  }

  .formInputs{
    max-width: 85%;
  }

  .formInput{
    padding: 0.8em 0;
  }

  #aboutUpOn{
    text-align: justify;
    width: 80%;
  }

  hr{
    width: 80%;
    margin: 5px;
  }

  #open-modal{
    display: none;
  }

}