.formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vmin;
  max-width: 90%;
  min-height: 80%;
}

.formTitle {
  width: 100%;
}
h2.formTitle {
  padding-top: 10vmin;
}

.smallContent {
  font-size: 0.8rem;
  margin-bottom: -2.5vmin;
}

h2.formInputs {
  text-align: start;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  width: 100%;
}

.formInput {
  background-color: #d9d9d9;
  padding: 1em 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.chooseIcon {
  background-color: #6a6a6a;
  padding: 1.5rem;
  border-radius: 5px;
}

.chooseIcon p {
  text-align: center;
  margin-bottom: 1rem;
}

input[type="radio"] {
  appearance: none;
}

.iconUser {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5vmin;
}

label {
  display: block;
  width: 60px;
  float: left;
  cursor: pointer;
}

input[type="radio"]:checked+label {
  border-color: #ccf;
}

.iconImg {
  width: 4rem;
  padding: 0.8vmin;
  border-radius: 100px;
}

.iconImg:hover {
  background-color: #F5754E;
}

/* .iconImg:active {
  background-color: #F5754E;
} */


@media (min-width: 1024px) {
  .headerMenu {
    padding: 0;
    padding-top: 2.5vmin;
  }

  #root {
    min-height: 75vh;
  }

  .header img {
    width: 18vmin;
  }

  .formTitle {
    max-width: 85%;
  }

  h2.formTitle {
    font-size: 1.6rem;
    padding-top: 5vmin;
  }

  /* p.formTitle {
    font-size: 0.8rem;
  } */

  .smallContent {
    font-size: 0.6rem;
    margin-bottom: -2.5vmin;
  }

  h2.formInputs {
    text-align: center;
  }

  .formInputs {
    display: flex;
    max-width: 85%;
  }

  .formInput {
    padding: 0.8em 0;
  }

}