.header-timeline {
  min-height: 10%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.2);
  width: 96vw;
}
.headerMenu-timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 0;
  width: 90vw;
}
.header-timeline img {
  width: 10vmin;
}
#userImageHeader{
  width: 12vmin;
  border-radius: 100px;
}
#logo img {
  width: 20vmin;
}

.timelineContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90%;
}

hr{
  width: 100%;
  color: #3a3a3a;
}
.allPosts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.posts{
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 2.5vmin;
  width: 90%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.postHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
}

.postUserInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5vmin;
}

.postFooter{
  display: flex;
  justify-content: space-between;
}

.votes{
  display: flex;
  gap: 2vmin;
}

.userImage {
  width: 3rem;
  border-radius: 100px;
}
.createButton{
  position: fixed;
  right: 25px;
  bottom:2rem;
  z-index: 10;
  background-color: #F5754E;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createButton img{
  cursor: pointer;
  width: 10vmin;
}

.upVoteButton img{
  width: 6vmin;
  cursor: pointer;
}
button.upVoteButton{
  all:initial;
}

.postButtons img{
  width: 6vmin;
}

button.postButtons{
  all:initial;
}

#fade-createPost, #modal-createPost {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade-createPost {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal-createPost {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  z-index: 10;
  width: 90%;
  border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding-top: 2vmin;
  padding-bottom: 2vmin; 
  padding-left: 3.5vmin;
}

#userImage{
  width: 3.5rem;
  border-radius: 100px; 
  padding: 1.5vmin;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  gap: 2vmin;
}

#modal-createPost.hide,
#fade-createPost.hide {
  opacity: 0;
  pointer-events: none;
}

#modal-createPost.hide {
  top: 0;
}

#createPost{
  resize: none;
  width: 90%;
  height: 30vmin;
  border-radius: 0.5rem;
  padding-top: 1vmin;
  padding-left: 1.5vmin;
}
textarea{
  font-size: 1rem;
}

.buttonsCreate{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  gap: 5vmin;
}

.postButtonsCreate{
  padding: 0.3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 3vmin;
  text-align: center;
  opacity: 1;
  transition: 0.3s;
  height: 6vmin;
}

#userName{
  font-weight: 600;
}

#close-modal-createPost{
  background-color: #f2f2f2;
  color: #F5754E;
  width: 30%;
}

#sendPost{
  background-color: #F5754E;
  color: #f2f2f2;
  width: 30%;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .posts{
    /* width: 65%; */
    max-width: 65%;
  }

  .postButtons img{
    width: 3.5vmin;
    cursor: pointer;
  }

  footer{
    display: none;
  }

  #open-modal-createPost{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .posts{
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .posts:nth-child(1){
    border-top: unset;
  }
  #modal-createPost {
    width: 65%;
  }
  textarea{
    font-size: 1.2rem;
  }
}