* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
.header {
  min-height: 10%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.headerMenu {
  padding: 3vmin;
}
.header img {
  width: 20vmin;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerMenu img {
  width: 13vmin;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 10%;
}
.footerMenu {
  padding: 5vmin;
  display: flex;
  justify-content: space-around;
}
